$primaryColor: #4D80E4;
$backgroundColor: #f2f2f2;
$black: #191919;
$greyText: #8E8E8E;

@mixin button($color) {
    display: inline-block;
    padding: 1.25em 3em 1.25em 3em;
    margin: 1em 0;

    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;


    color: $backgroundColor;
    background-color: $color;
    border: none;

    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.25s;
}
 
body, html {
    background-color: $backgroundColor;
    font-family: 'Satoshi';

    margin: 0;
    height:100%
}

.white{
    color: #FFF;
}

h1 {
    font-weight: 500;
    font-size: 5em;

    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 2.5em;

    margin: 0.25em 0 0.25em 0;
}

h2 {
    font-weight: 500;
    font-size: 2.5em;

    margin: 0.25em 0 0.25em 0;
}

h3 {
    font-weight: 500;
    font-size: 1.5em;

    margin: 0.25em 0 0.25em 0;

    text-transform: uppercase;
}

h4 {
    font-weight: 500;
    font-size: 1.25em;

    margin: 0.25em 0 0.25em 0;
}

h5 {
    font-weight: 500;
    font-size: 1em;
    margin: 0.5em 1em 0.5em 0;
    text-transform: uppercase;

    color: $primaryColor;
}

p {
    font-weight: 400;
    font-size: 1em;
    color: $greyText;


    margin: 0;
}

a {
    color: #a3a3a3;
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.25s;
}

a:hover {
    color: $primaryColor;
    cursor: pointer;
}


code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
}

.button-nav {
    font-size: 1em;
    font-weight: 400
}

.button1 {
    @include button($black);
}

.button1:hover {
    background-color: lighten($black, 10%);
    color: white;
}

.button2 {
    @include button($primaryColor);
}

.button2:hover {
    background-color: lighten($primaryColor, 10%);
    color: white;
}


.nav-links {
    display: flex;
    justify-content: right;
    align-items: center;


    font-weight: 400;
    gap: 1em;
    padding-right: 4.25em;
}

.text-input-field {
    margin-top: 0.5em;
    height: 2.25em;

    width: auto;

    padding-left: 1em;
    padding-right: 1em;

    font-size: 1em;
    color: #191919;

    border-width: 1px;
    border-color: #191919;

    background-color: #ffffff;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;

    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.25s;
}

.text-input-field:hover,
.text-input-field:focus {
    background-color: #f7f7f7;
    cursor: text;

}


.radio-input {
    margin-right: 1em;

    border-width: 1px;
    border-color: #191919;

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.radio-input:hover,
.radio-input:focus,
.radio-text-input:hover,
.radio-text-input:focus {
    cursor: pointer;
}


.element {
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: #EEE;

    padding: 2rem;
    max-width: 60em;
}


.section-title {
    margin: 1em 2em;
}

.section-full-bleed {
    padding: 3em 2em;
    margin: 3em 0 3em 0;

    background-color: #ffffff;


    border-width: 1px;
    border-color: #EEE;

    border-top-style: solid;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}

.section-content {
    padding: 1em 2em 5em 2em;
    
    height:100%;
}

.section-content-center {
    padding: 1em 2em 5em 2em;
    display: flex;
    flex-direction: column;

    background-image: url(../img/portfolio-hero.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;


    height:100%;

    justify-content: center;
    align-items: center;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}