body,
html {
  background-color: #f2f2f2;
  font-family: "Satoshi";
  margin: 0;
  height: 100%;
}

.black {
  color: #191919;
}

.white {
  color: #FFF;
}

.grey {
  color: #8E8E8E;
}

.hero-name {
  font-size: 5em;
}

h1 {
  font-weight: 500;
  font-size: 4em;
  margin: 0.25em 0;
  margin: 0;
  line-height: 1em;
}

h2 {
  font-weight: 500;
  font-size: 2.5em;
  margin: 0.25em 0;
}

h3 {
  font-weight: 500;
  font-size: 1.75em;
  margin: 0.25em 0 0.25em 0;
}

h4 {
  font-weight: 500;
  font-size: 1.25em;
  margin: 0.25em 0 0.25em 0;
}

h5 {
  font-weight: 500;
  font-size: 1em;
  margin: 3.5em 1em 0.5em 0;
  text-transform: uppercase;
  color: #4D80E4;
}

p {
  font-weight: 400;
  font-size: 1em;
  color: #8E8E8E;
  margin: 0;
}

.figure-caption {
  font-weight: 400;
  font-size: 1em;
  color: #8E8E8E;
  text-align: center;
  margin-top: 1.5em;
}

video {
  width: auto;
  height: 30em;
  margin: 3em 0;
}

a {
  color: #a3a3a3;
  text-decoration: underline;
  transition-property: color;
  transition-duration: 0.25s;
}

a:hover {
  color: #4D80E4;
  cursor: pointer;
}

.blue-spacer {
  background-color: #4D80E4;
  margin: 1em 1em 1em 0.25em;
  width: 5em;
  height: 0.25em;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

.button-nav {
  font-size: 1em;
  font-weight: 400;
}

.button1 {
  display: inline-block;
  padding: 1.25em 3em 1.25em 3em;
  margin: 1em 0;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  color: #f2f2f2;
  background-color: #191919;
  border: none;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
  justify-items: center;
  text-align: center;
  letter-spacing: 0.075em;
}

.button1:hover {
  background-color: #333333;
  color: white;
}

.button2 {
  display: inline-block;
  padding: 1.25em 3em 1.25em 3em;
  margin: 1em 0;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  color: #f2f2f2;
  background-color: #4D80E4;
  border: none;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
  justify-items: center;
  text-align: center;
  letter-spacing: 0.075em;
}

.button2:hover {
  background-color: #79a0eb;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 400;
  gap: 1em;
  padding-right: 4.25em;
}

.text-input-field {
  margin: 1em 0;
  height: 2.25em;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  color: #191919;
  border-width: 1px;
  border-color: #191919;
  background-color: #ffffff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
}

.text-input-field:hover,
.text-input-field:focus {
  background-color: #f7f7f7;
  cursor: text;
}

.radio-input {
  margin-right: 1em;
  border-width: 1px;
  border-color: #191919;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.radio-input:hover,
.radio-input:focus,
.radio-text-input:hover,
.radio-text-input:focus {
  cursor: pointer;
}

.element {
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #EEE;
  padding: 2rem;
  max-width: 60em;
}

.section-title {
  margin: 1em 2em;
}

.section-about {
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  background-image: url(../img/me.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff;
  height: 100%;
  justify-content: left;
  align-items: left;
}

.section-hero {
  padding: 5em 2em;
  height: 100%;
  background-color: #f2f2f2;
}

.section-projects {
  padding: 5em 2em;
  height: 100%;
  background-color: #f2f2f2;
  height: auto;
}

.section-project-cover-gridrack {
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 25%;
  justify-content: left;
  background-image: url(../img/gridrack.jpg);
}

.section-project-cover-cheatchat {
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 25%;
  justify-content: left;
  background-image: url(../img/cheatchat.jpg);
  height: 47%;
}

.section-project-title {
  padding: 5em 2em;
  height: 100%;
  background-color: #f2f2f2;
  padding-bottom: 2em;
  height: auto;
  display: flex;
  flex-direction: column;
}

.section-project-content {
  padding: 5em 2em;
  height: 100%;
  background-color: white;
  padding-bottom: 2em;
  height: auto;
  display: flex;
  flex-direction: column;
}

.section-project-content-grey {
  padding: 5em 2em;
  height: 100%;
  background-color: #f2f2f2;
  padding-bottom: 2em;
  height: auto;
  display: flex;
  flex-direction: column;
}

.section-white {
  padding: 5em 2em;
  height: 100%;
  background-color: white;
}

.row-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  bottom: 17.5em;
  padding: 1em;
  margin-top: 5em;
  gap: 1.5em;
}

.project-description-column {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  min-width: 25em;
  flex: 30%;
  margin-bottom: 1em;
}

.column-4 {
  display: flex;
  flex-direction: column;
  max-width: 13em;
  flex: 25%;
  margin-bottom: 1em;
}

.project-preview {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
}

.project-preview-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

.column-paragraph-lone {
  display: flex;
  flex-direction: column;
  width: 50%;
  width: auto;
  max-width: 65em;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 3em 0 1em 0;
}

.project-preview-column {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.project-preview-description-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

@media screen and (max-width: 1111px) {
  .section-about {
    background-image: none;
  }
  .column-4 {
    flex: 50%;
  }
  .column {
    width: 70%;
  }
}
@media screen and (max-width: 820px) {
  .section-about {
    background-image: none;
  }
  .column-4 {
    flex: 50%;
  }
  .column {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */